* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}


img {
width: 20rem;
display: inline;
height: auto;
margin-bottom: auto;
float: left;
}

.photoContainer {
  float: left;
  display: inline;

}

.card {
  width: 90%;
  border: 2px solid palevioletred;
  margin: auto;
  display: flex;
  flex-direction: column;

}

p {
  width: 100%;
  border: 2px solid palegreen;
}