* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}


img {
width: 15rem;
display: inline;
height: auto;
margin-bottom: auto;
float: left;
margin: 1rem;

transform: scale(130%) translate(-20%, -20%);
}



/* **************************************************************************
What if I used a blank placeholder image in the card to create the float/wrap affect -- Then place the main image  with position absolute....
************************************************************************** */



.photoContainer {
  float: left;
  display: inline;
  border: 2px solid peru;
  width: 20rem;

}

.card {
  width: 90%;
  border: 2px solid palevioletred;
  margin: auto;
  display: flex;
  flex-direction: column;

}
header {
  border: 2px solid orange;
  text-align: end;
}


p {
  
  width: 100%;
  border: 2px solid palegreen;
}